.image {
    display : inline-block ;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 1em;
    padding-left: 1em;
}

.intro {
    display : inline-block ;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 5em;
}

.header {
    background-color: #9ac5e2;
}

.main { 
    background-color: #bbd6e7;
    display : inline-block ;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-right: 12em;
    padding-left: 1em;
    margin: 0;
}

.aside { 
    background-color: #ffffff;
    display : inline-block ;
    font-family: Georgia, "Times New Roman",Times, serif;
    padding-right: 15em;
    padding-left: 1em;
    margin: 0;
    border: 0;
}
